[submodule "py_services/Selerio-TTS-server"]
	path = external_services/Selerio-TTS-server
	url = https://github.com/ololoshka2871/Selerio-TTS-server.git
[submodule "external_services/Voice-2-txt-faster-whisper"]
	path = external_services/Voice-2-txt-faster-whisper
	url = https://github.com/ololoshka2871/Voice-2-txt-faster-whisper.git
